{% extends "base.html" %}
{% load static %}

{% block title %}
    Piyush's Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}
    <section id="welcome">
        <div class="container">
            <header>
                <img src="{% static "blog/images/naturo.jpeg" %}" alt="Piyush">
                <h2>Piyush</h2>
            </header>
            <p>
                Hi, my name's Piyush and I like to program.
            </p>
        </div>
    </section>

    <section id="latest-post">
        <div class="container">
            <h2>My Latest Posts</h2>
            <ul class="post-list">
                <li>
                    <article class="post">
                        <a href="{% url 'single-post-page' slug=post.post_name %}">
                            <img src="{% static ""|add:post.post_image %}" alt="Piyush">
                        </a>
                        <div class="post__content">
                            <h3>{{ post.post_title|title }}</h3>
                            <p>
                                {{ post.post_body }}
                            </p>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <h2>About Me</h2>
            <p>
                I like to program.
            </p>
            <p>
                I am doing the Django/Python training course.
            </p>
        </div>
    </section>
{% endblock %}
